body {
  margin: 0;
  padding: 0;
  background-image: url(./fabrice-villard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  padding-left: 40px;
  font-size: 40px;
}

.flex_row {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-right: 200px;
}

.scores {
  width: 40%;
  margin-left: 20px;
}

.recent_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
}

.refresh {
  border: solid 3px #000;
  box-shadow: 4px 2px #000;
}

.score_list {
  border: solid 2px #000;
  border-radius: 4px;
  padding: 0;
}

.score_list .scores_li {
  list-style: none;
  font-size: 0.8em;
  font-weight: bold;
  padding: 3px 10px;
}

.scores_li:nth-child(odd) {
  background-color: #fff;
  color: #000;
}

.scores_li:nth-child(even) {
  background-color: #efe2e273;
  color: #000;
}

.add_list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 30%;
}

.form_submission {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name,
.score {
  border: solid 2px #000;
  border-radius: 4px;
}

#notify {
  color: #491fd683;
  font-style: italic;
}

.submit {
  width: fit-content;
  align-self: flex-end;
  border: solid 3px #000;
  box-shadow: 4px 2px #000;
}
